<div class="main-contents">
	<div class="main-contents-right">
		<h1>漫画レビューサイトです！！</h1>
		<p>読んだことのある漫画や、読みたい漫画を見つけよう！！ネタバレ禁止です・・・</p>
		<p>情報交換大歓迎！！</p>
		<p>さあ、レビューを書くことから始めよう！！！</p>
		<button type="submit">レビューを書く！！</button>
	</div>
	<div class="main-contents-left">
		<img src="https://www.pakutaso.com/shared/img/thumb/TOMcatDSC01938_TP_V.jpg" class="cat">
	</div>
</div>