<div class="main-content">
  <div class="main-content__body">
  	<div class="main-content__body-comic">
  		<ul class="comic-list">
  			<% @comics.each do |comic| %>
  			<div class="row">
              <div class="col s12 m6">
                <div class="card">
                  <div class="card-image">
                    <img src="<%= comic.image %>" class="card-size">
                     <span class="card-title"></span>
                       <%= link_to "詳細", "/comics/#{comic.id}", method: :get %>
                       <%= link_to "削除", "/comics/#{comic.id}", method: :delete %>
                   </div>
                    <div class="card-content">
                 </div>
               </div>
              </div>
             </div>
  			</li>
  			<% end %>
  		</ul>
  	</div>
  </div>
</div>

