<h1>レビュー一覧</h1>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="<%= @comic.image %>" class="card-size">
         </div>
     </div>
     <%= link_to "漫画一覧に戻る",  search_comics_path, method: :get, class: :form__controll %>
    </div>
   </div>
   <div class="comments__list">
    <p>
        <% @comic.comments.each do |comment| %>
        <%= simple_format(comment.text) %>
        <% end %>
    </p>

   </div>
  <div class="container">
  <% if current_user %>
      <%= form_tag("/comics/#{@comic.id}/comments", method: :post) do %>
        <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
  </div>
