/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./reset";

.body{
	position: absolute;
}


.wrapper{
	background-color: #5cb85c;
	width: 100vw;
	height: 80px;
	line-height: 50px;

}
.header__left{
	font-weight: bold;
	font-size: 30px;
	float: left;
}

.header-right{
	float: right;
	list-style: none;
}
.new{
	float: right;
	border: solid;
	margin-right: 10px;
}
.login{
	float: right;
	border: solid;
	margin-right: 10px;
}
.post-content{
	float: right;
	border: solid;
	margin-right: 10px;
}
.form__controll{
	float: right;
	margin-right: 10px;
	border: solid;
}

.main-contents-right{
	background-color: #EEFFFF;
	height: 100vh;
	width: 34vw;
	float: left;
}
.cat{
	height: 100vh;
	width: 66vw;
	float: right;
	position: absolute;
	object-fit: cover;
}

button{
	background-color: #5bc0de;
	border-color: #5bc0de;
	text-align: center;
}
.footer{
	clear: both;
	background-color: #5cb85c;
	text-align: center;
	width: 100vw;
	bottom: 0;

}
.title-header{
	text-align: center;
	font-weight: bold;
}
.field{
	text-align: center;
}

.actions{
	text-align: center;
}
.main-content__body{
	margin: 0 auto;
	width: 80vw;
	height: 100vh;
}


.comic-lists{
	display: inline-block;
	width: 500px;
	height: 500px;
	margin-bottom: 200px;
	text-align: center;
}
.row{
	width: 250px;
	height: 300px;
	float: left;
	display: inline-block;
	margin-bottom: 200px !important;
}
.card-image{
	margin: 10px 10px 10px 10px;
	text-align: center;
}
.card{
	margin: 20px 20px 20px 20px;
}
.card-size{
	width: 210px !important;
	height: 300px !important;
}
.card-content{
	overflow: scroll !important;
}
.comments__list{
	height: 450px;
	overflow: scroll;
	background: skyblue;
}
.contents__row{
	margin: 0 auto !important;
	height: 100vh;
	width: 60%;
}
